body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 50px;
    color: #086ec5;
    font-weight:800;
}
h2 {
   font-family: 'Roboto Mono', monospace;
font-size: 50px;
font-weight: 800;
text-align: center;
}

h4 {
    font-size: 24px;
    opacity: .5;
  
}

ul {
    list-style-type: none;
}

h3 {
   font-size: 26px;
   opacity: 0.5;
}

form {
    font-family: 'Roboto Mono', monospace;
}

.current-button {
    background-color: #48c53d;
    border:none;
    position: relative;
    left: 90px;
    bottom: 37px;
  
}
.current-button:hover {
    background-color: #3aa531;

}

.indication {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 600;
}

.date {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    opacity: 0.9;
}

.current-icon {

 font-size: 75px;
text-align: center;
margin-bottom: 20px;

}
.current-temperature {
  padding: 25px;
  margin: 0 0 40px 0;
  border: 3px solid #43a5f5;
  border-radius: 50%;

}
.degrees {
    font-size: 12px;
    
    
}
.celsius-link {
text-decoration: none;
}
.fahrenheit-link {
    text-decoration:none;
}
.current-icon {
    font-size: 45px;
   color: #939aa9;

}
.parameters {
    position: relative;
    top: 30px;
    
}
section .card {
    border: 2px solid  #fea727;
    box-shadow: 5px 5px 5px rgb(0,0,0, 0.1);
    border-radius: 10px;
    font-size: 22px;
  
}

.weather-icon {
    color:#43a5f5;
    margin: 30px 0 30px 0;
} 

.footer {
    
    font-family: monospace;
}

.sourceLink {
    text-decoration: none;

}